# Ignore the following file extensions, hidden files, and directories.
.*
tmp

# Python compile directories.
__pycache__

# Unpacked data directories.
data/mrclam/clean
data/mrclam/learn

# The Python virtual environment directory.
iros21_sdsmm

# Experimental results directory.
exps
